.header-logo img {
    width: 85px;
}
.header-sticky.sticky .header-logo img {
    padding: 0;
}
.hero-slide-content .title {
    font-size: 55px;
}
.hero-slide-content p{
    margin-bottom: 25px;
    background-color: rgba(0,0,0,0.7);
}
.hero-slide-content p span{
    font-size: 22px;
    font-weight: 600;
}
.swiper-slide-active .hero-slide-content > *:nth-child(5){
    padding: 3px;
    background-color: rgba(0,0,0,0.7);
}
.initiatives .breadcrumb-wrapper .title {
    color: #000000;
    font-weight: 600;
    line-height: .8;
    font-size: 35px;
    margin-bottom: 25px;
}
.initiatives{
    padding-top:50px;
    padding-bottom: 50px;
}
.initiatives .single-project-wrap .inner-content .title{
    font-size: 18px;
}
.events-heading .breadcrumb-wrapper .title {
    color: #000000;
    font-weight: 600;
    line-height: .8;
    font-size: 32px;
    margin-bottom: 25px;
}
.events-heading{
    padding-top: 45px;
    padding-bottom: 45px;
}

.events .single-blog-wrap .blog-thumb {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}
.events .single-blog-wrap .inner-content{
    width: 50%;
}
.events .section-padding{
    padding-top: 45px;
    padding-bottom: 45px;
}
.announcements .section-title .title{
    text-transform: capitalize;
}
.special-ann .brand-logo-carousel {
    padding: 30px 10px;
}
.special-ann h2:first-child{
    margin: 20px auto;
}
.about{
    padding-top:50px;
}
.special-ann .swiper-slide h4{
    font-size: 18px;
    font-weight: 500;
}
.special-ann .brand-logo-carousel{
    border: 1px solid #e6e6e6;
}
.brand-logo-carousel1{
    padding: 50px 0;
}
.brand-logo-carousel1 a:hover{
    color: transparent!important;
}
.special-ann .single-brand-logo{
    flex-direction: column;
}
.special-ann p a{
    color: #739900;
}
.news{
    padding-top:50px;
    padding-bottom: 50px;
}
.news h3{
    margin-bottom: 30px;
}
.header-transparent-bg{
    background: rgba(0,0,0,0.5);
}
.main-menu > ul > li > a{
    line-height: 0;
}
@media screen and (max-width:767px){
    .hero-slide-content{
        margin-top: 70px;
    }
    .hero-slide-content .title {
        font-size: 30px;
    }
    .hero-slide-content p span {
        font-size: 15px;
        font-weight: 600;
    }
    .hero-slide-content p {
        font-size: 14px;
    }

}
@media screen and (max-width:768px){
    .header-sticky.sticky .main-menu > ul > li > a{
        line-height: 0;
    }
    .main-menu > ul > li > a{
        font-size: 12px;
    }
    .events .single-blog-wrap .blog-thumb{
        display: block;
        width: 100%;
    }
    .events .single-blog-wrap .inner-content{
        display: block;
        width: 100%;
    }
}
@media screen and (max-width:1024px){
    .main-menu > ul > li + li {
        margin-left: 11px;
    }
    .main-menu > ul > li > a {
        font-size: 14px;
        line-height: 0px;
    }
    .logo-mobile img{
        width: 100px;
    }
    .d-none-sm-desk{
        display: none!important;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px){
    .main-menu > ul > li + li {
        margin-left: 32px;
    }
}